.location-bar
{
  @include flex-center;
  background-color: $secondary-background-color;
  padding: 1rem 0;
  font-weight: 600;

  &__inner
  {
    position: relative;
  
    &__icon
    {
      position: absolute;
      left: -25px;
    }
  }

  @media only screen and (min-width: 768px)
  {
    display: none;
  }
}

.hero
{
  @include flex-center;
  flex-direction: column;
  gap: clamp(1rem, 8vw, 2rem);
  background-color: $primary-background-color;
  padding: 3rem 1.25rem;
  background-size: 130%;
  background-position: 50%;
  height: clamp(240px, 64.93vw, 500px);

  @media only screen and (min-width: 1024px)
  {
    height: calc(100vh - 90.88px);
  }
  
  &__heading
  {
    font-size: clamp(22.5px, 6.05vw, 40px);

    @media only screen and (min-width: 768px)
    {
      font-size: 45px;
    }

    @media only screen and (min-width: 1024px)
    {
      font-size: 68px;
    }
  }

  &__sub-heading
  {
    font-size: clamp(1.1rem, 5.18vw, 1.8rem);
    text-align: center;
    max-width: 570px;

    @media only screen and (min-width: 768px)
    {
      font-size: 2rem;
    }

    @media only screen and (min-width: 1024px)
    {
      font-size: 2.83rem;
      max-width: 800px;
    }
  }
  &__btn
  {
    @include button;

    @media only screen and (min-width: 768px)
    {
      margin-top: 3rem;
      font-size: 1.5rem;
      padding: 1.25rem 2.1875rem;
      border-radius: 1.875rem;
    }

    @media only screen and (min-width: 1024px)
    {
      margin-top: clamp(3rem, 5vw, 8rem);
      font-size: 1.75rem;
      padding: 1.458rem 2.55rem;
      border-radius: 1.875rem;
    }

  }

  @media only screen and (min-width: 300px)
  {
    background-size: 100%;
    background-position: 0%;
  }

  @media only screen and (min-width: 1024px)
  {
    background-position: 0% 60%;
  }
}

.instructions-section
{
  padding: 3rem 1.25rem;
  list-style: none;
  &__card-container
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 1.25rem;
    padding: 0.5rem;

    &__card
    {
      position: relative;
      display: flex;
      width: 100%;
      gap: 1.25rem;
      padding: 1.75rem 2.25rem;
      background-color: $primary-background-color;
      border-radius: 1.15rem;
      box-shadow: 0 3px 15px 0 #cccccc;
      cursor: pointer;

      &__circle
      {
        position: absolute;
        @include flex-center;
        left: -0.6rem;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary-color;
        color: $secondary-font-color;
        font-size: 0.8rem;
        line-height: 0;
      }

      &__icon
      {
        @include flex-center;
        font-size: 1.3rem;
        color: #7c7c7c;
      }

      p
      {
        @include flex-center;
        font-weight: 600;
        font-size: clamp(1rem, 3.8vw, 1.25rem);

        @media only screen and (min-width: 1024px)
        {
          font-size: 1.4rem;
        }
      }

      &:last-child
      {
        background-color: lighten($color: $primary-color , $amount: 32.5);
        .instructions-section__card-container__card__icon
        {
          color: $primary-color;
        }
      }

      @media only screen and (min-width: 768px)
      {
        max-width: 23rem;
      }

      @media only screen and (min-width: 1024px)
      {
        max-width: 25rem;
      }
    }

    @media only screen and (min-width: 768px)
    {
      margin-top: 2rem;
    }

    @media only screen and (min-width: 1024px)
    {
      margin: 4rem 0 4rem 0;
      gap: clamp(2rem, 3vw, 5rem);
    }
  }

  @media only screen and (min-width: 768px)
  {
    padding: 3rem 2rem;
    gap: 2rem;
  }

  @media only screen and (min-width: 1024px)
  {
    padding: 3rem 4rem;
  }
}

.restaurants-section
{
  padding: 3rem 1.25rem;
  background-color: $primary-background-color;
  &__cards-list
  {
    display: grid;
    justify-content: center;
    gap: 1.25rem;
    list-style: none;
    margin-top: 1.25rem;
    
    &__card-container
    {
      &__card
      {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 17.5rem;
        border-radius: 1rem;
        box-shadow: 0 3px 15px 0 #cccccc;
        img
        {
          flex: 7.5;
          min-height: 0;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }

        &__info
        {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;
          padding: 0.75rem 1rem;

          &__name
          {
            width: 75%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          &__location
          {
            font-size: clamp(17px, 6vw, 19px);
          }

          &__heart-icon-container
          {
              position: absolute;
              right: clamp(0rem, 7vw, 1.5rem);
              font-size: 1.55rem;
              cursor: pointer;
              fill: transparent;
              stroke-width: 20;

              &__heart-icon
              {
                  overflow: visible;
                  stroke: $primary-font-color;
                  width: clamp(1.35rem, 5.8vw, 1.5rem);
                  
                  path
                  {
                      stroke-dashoffset: 0;
                      stroke-dasharray: 1550;
                      transform-origin: center;
                  }
  
                  &--main
                  {
                      &:hover
                      {
                          stroke: $primary-color;
                      }
  
                      &:hover > path
                      {
                          animation: stroke-animation 2s ease-in-out forwards;
                      }
                  }
              }
          }
        }
        
        &__tag
        {
          position: absolute;
          line-height: 0;
          right: 0.75rem;
          top: 0.8rem;
          padding: 1rem 1.75rem;
          background-color: $tertiary-color;
          color: darken($color: $tertiary-color, $amount: 40);
          border-radius: 0.15rem;
          font-size: 0.95rem;
          font-weight: 600;
        }
        @media only screen and (min-width: 1024px)
        {
          height: 25rem;
        }
      }
    }
    @media only screen and (min-width: 768px)
    {
      grid-template-columns: minmax(0, 40rem) minmax(0, 40rem);
      margin-top: 2rem;
    }

    @media only screen and (min-width: 1024px)
    {
      gap: 3rem;
      margin: 4rem 0 4rem 0;
    }
  }

  @media only screen and (min-width: 768px)
  {
    padding: 3rem 2rem;
  }

  @media only screen and (min-width: 1024px)
  {
    padding: 3rem 4rem;
  }
}

@keyframes stroke-animation
{
  0%
  {
      stroke-dashoffset: 0;
  }
  30%
  {
      stroke-dashoffset: 1550;
  }
  60%
  {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
  }
  80%
  {
      fill: $primary-color;
      transform: scale(1.1);
  }
  90%
  {
      transform: scale(1);
  }
  100%
  {
      stroke-dashoffset: 3100;
      fill: $primary-color;
  }
}