@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Shrikhand', cursive;

$primary-font-color: #000000;
$secondary-font-color: #ffffff;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-background-color: #F2F2F2;
$secondary-background-color: #e4e4e4;
$tertiary-background-color: #363636;

$h1-font-size: clamp(30px, 8vw, 35px);
$h2-font-size: clamp(22.5px, 7vw, 27.5px);
$h3-font-size: clamp(18px, 5vw, 20px);

@mixin flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button
{
  border: none;
  outline: none;
  color: $secondary-font-color;
  background: linear-gradient($secondary-color, $primary-color);
  padding: 1rem 1.75rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2.5px 8.5px 2px #bbbbbb;
  font-size: clamp(1rem, 3.8vw, 1.35rem);

  @media only screen and (min-width: 1024px)
  {
    font-size: 1.5rem;
  }

  &:hover
  {
    background: linear-gradient(lighten($secondary-color, $amount: 5), lighten($primary-color, $amount: 5));
    box-shadow: 0 2.5px 8.5px 2px darken(#bbbbbb, $amount: 5);
  }
}

html
{
  font-family: $primary-font-family;
  font-size: 1rem;
  color: $primary-font-color;
  scroll-behavior: smooth;
}

a
{
  color: $primary-font-color;
}

h1
{
  font-size: $h1-font-size;
  font-family: $secondary-font-family;
}

h2
{
  font-size: $h2-font-size;
  font-weight: 900;
}

h3
{
  font-size: $h3-font-size;
  font-weight: 900;
}

body
{
  overflow-x: hidden;
  background-color: #fff;

  header
  {
    position: relative;
    z-index: 1;
    @include flex-center;
    line-height: 1.75rem;
    box-shadow: 0 3px 4px 0 #cccccc;

    &.header--homepage
    {
      visibility: hidden;
      animation: appear 1s linear forwards;
      animation-delay: 2s;

      @media only screen and (min-width: 768px)
      {
        padding: 0.25rem 2rem;
        justify-content: space-between;
      }
      @media only screen and (min-width: 1024px)
      {
        padding: 0.5rem 4rem;
      }
    }

    &.header--restaurant-page
    {
      box-shadow: none;
      
      a
      {
        position: absolute;
        left: 1.5rem;
        @include flex-center;
  
        .header__arrow
        {
          font-size: clamp(1.25rem, 4.7vw, 1.5rem);
          font-weight: 600;
        }

        @media only screen and (min-width: 1024px)
        {
          left: 3rem;
        }
      }

      @media only screen and (min-width: 768px)
      {
        padding: 0.25rem 2rem;
      }
      @media only screen and (min-width: 1024px)
      {
        padding: 0.5rem 4rem;
      }
    }

    .header__location
    {
      display: none;
      font-weight: 600;
      font-size: 1.15rem;

      &__icon
      {
        margin-right: 0.75rem;
      }
      @media only screen and (min-width: 768px)
      {
        display: block;
      }
    }

  }
  
  main
  {
    position: relative;
    z-index: 0;
    @import '../pages/_homepage.scss';
    @import '../pages/_restaurants.scss';

    &.main--homepage
    {
      visibility: hidden;
      animation: appear 1s linear forwards;
      animation-delay: 2s;
    }
  }

  .footer
  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: $secondary-font-color;
    background-color: $tertiary-background-color;
    padding: 1.5rem;

    &--homepage
    {
      visibility: hidden;
      animation: appear 1s linear forwards;
      animation-delay: 2s;
    }

    &__logo
    {
      font-size: clamp(20px, 4.5vw, 30px);
      font-family: $secondary-font-family;
      font-weight: 100;
    }

    &__list
    {
      display: flex;
      flex-direction: column;
      gap: clamp(0.6rem, 2vw, 1rem);
      font-size: clamp(16px, 3vw, 20px);
      list-style: none;

      &__item
      {
        display: flex;
        gap: 0.5rem;
        cursor: pointer;

        &__icon
        {
          display: flex;
          align-items: center;
          font-size: clamp(12px, 2.25vw, 15px);
          width: 1rem;
        }
      }

      @media only screen and (min-width: 768px)
      {
        flex-direction: row;
        gap: 2rem;
      }  
    }

    @media only screen and (min-width: 768px)
    {
      align-items: center;
      padding: 3rem 1.5rem;
      gap: 3rem;

      &__logo
      {
        font-size: 35px;
      }
    }   

    @media only screen and (min-width: 1024px)
    {
      padding: 5rem 1.5rem;
    }  
  }

  .loader
  {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    height: 120px;
    width: 120px;
    border: $primary-color solid 6px;
    border-color: $primary-color transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite, disappear 2s linear forwards;
  }
}



//TABLET DESIGN

@media only screen and (min-width: 768px)
{

}


//DESKTOP DESIGN

@media only screen and (min-width: 1024px)
{

}

@keyframes spin
{
  0%
  {
    transform: rotate(0);
  }

  100%
  {
    transform: rotate(360deg);
  }
}

@keyframes disappear
{
  0%
  {
    display: block;
  }

  100%
  {
    display: none;
  }
}

@keyframes appear
{
  0%
  {
    visibility: hidden;
  }

  100%
  {
    visibility: visible;

  }
}
