@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Shrikhand', cursive;

$primary-font-color: #000000;
$secondary-font-color: #ffffff;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-background-color: #F2F2F2;
$secondary-background-color: #e4e4e4;
$tertiary-background-color: #363636;

$h1-font-size: clamp(30px, 2.3vw, 30px);
$h2-font-size: clamp(25px, 1.9vw, 25px);
$h3-font-size: clamp(20px, 1.8vw, 20px);

@mixin flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button
{
  border: none;
  outline: none;
  color: $secondary-font-color;
  background: linear-gradient($secondary-color, $primary-color);
  padding: 1rem 1.75rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2.5px 8.5px 2px #bbbbbb;
}

html
{
  font-family: $primary-font-family;
  font-size: 1rem;
  color: $primary-font-color;
  scroll-behavior: smooth;
}

a
{
  color: $primary-font-color;
}

h1
{
  font-size: $h1-font-size;
  font-family: $secondary-font-family;
}

h2
{
  font-size: $h2-font-size;
  font-weight: 900;
}

h3
{
  font-size: $h3-font-size;
  font-weight: 900;
}

body
{
  overflow-x: hidden;
  background-color: #fff;

  header
  {
    position: relative;
    z-index: 1;
    @include flex-center;
    line-height: 1.75rem;
    box-shadow: 0 3px 4px 0 #cccccc;

    &.header--restaurant-page
    {
      box-shadow: none;
      
      a
      {
        position: absolute;
        left: 1.5rem;
        @include flex-center;
  
        .header__arrow
        {
          font-size: 1.25rem;
          font-weight: 600;
        }
      }
    }



  }
  
  main
  {
    position: relative;
    z-index: 0;
    @import '../pages/_homepage.scss';
    @import '../pages/_restaurants.scss';
  }

  .footer
  {
    color: $secondary-font-color;
    background-color: $tertiary-background-color;
    padding: 1.5rem;

    &__logo
    {
      font-family: $secondary-font-family;
      font-weight: 100;
    }

    &__list
    {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      list-style: none;
      margin-top: 1.25rem;

      &__item
      {
        display: flex;
        gap: 0.5rem;

        &__icon
        {
          display: flex;
          align-items: center;
          font-size: 0.75rem;
          width: 1rem;
        }
      }
    }
  }
}

//TABLET DESIGN

@media only screen and (min-width: 768px)
{

}


//DESKTOP DESIGN

@media only screen and (min-width: 1024px)
{

}