.hero
{
    &--the-full-palette
    {
        background-image: url('./../assets/images/the-full-palette-xxsmall.webp');

        @media only screen and (min-width: 300px)
        {
            background-image: url('./../assets/images/the-full-palette-xsmall.webp');
        }

        @media only screen and (min-width: 480px)
        {
            background-image: url('./../assets/images/the-full-palette-small.webp');
        }

        @media only screen and (min-width: 768px)
        {
            background-image: url('./../assets/images/the-full-palette-medium.webp');
        }

        @media only screen and (min-width: 1024px)
        {
            background-image: url('./../assets/images/the-full-palette-large.webp');
        }

        @media only screen and (min-width: 1500px)
        {
            background-image: url('./../assets/images/the-full-palette-xlarge.webp');
        }

        @media only screen and (min-width: 1920px)
        {
            background-image: url('./../assets/images/the-full-palette-xxlarge.webp');
        }
    }

    &--bastille
    {
        background-image: url('./../assets/images/bastille-xxsmall.webp');

        @media only screen and (min-width: 300px)
        {
            background-image: url('./../assets/images/bastille-xsmall.webp');
        }

        @media only screen and (min-width: 480px)
        {
            background-image: url('./../assets/images/bastille-small.webp');
        }

        @media only screen and (min-width: 768px)
        {
            background-image: url('./../assets/images/bastille-medium.webp');
        }

        @media only screen and (min-width: 1024px)
        {
            background-image: url('./../assets/images/bastille-large.webp');
        }

        @media only screen and (min-width: 1500px)
        {
            background-image: url('./../assets/images/bastille-xlarge.webp');
        }

        @media only screen and (min-width: 1920px)
        {
            background-image: url('./../assets/images/bastille-xxlarge.webp');
        }
    }

    &--the-enchanted-plate
    {
        background-image: url('./../assets/images/the-enchanted-plate-xxsmall.webp');

        @media only screen and (min-width: 300px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-xsmall.webp');
        }

        @media only screen and (min-width: 480px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-small.webp');
        }

        @media only screen and (min-width: 768px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-medium.webp');
        }

        @media only screen and (min-width: 1024px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-large.webp');
        }

        @media only screen and (min-width: 1500px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-xlarge.webp');
        }

        @media only screen and (min-width: 1920px)
        {
            background-image: url('./../assets/images/the-enchanted-plate-xxlarge.webp');
        }
    }

    &--le-gourmand
    {
        background-image: url('./../assets/images/le-gourmand-xxsmall.webp');

        @media only screen and (min-width: 300px)
        {
            background-image: url('./../assets/images/le-gourmand-xsmall.webp');
        }

        @media only screen and (min-width: 480px)
        {
            background-image: url('./../assets/images/le-gourmand-small.webp');
        }

        @media only screen and (min-width: 768px)
        {
            background-image: url('./../assets/images/le-gourmand-medium.webp');
        }

        @media only screen and (min-width: 1024px)
        {
            background-image: url('./../assets/images/le-gourmand-large.webp');
        }

        @media only screen and (min-width: 1500px)
        {
            background-image: url('./../assets/images/le-gourmand-xlarge.webp');
        }

        @media only screen and (min-width: 1920px)
        {
            background-image: url('./../assets/images/le-gourmand-xxlarge.webp');
        }
    }
}