.menu
{
    background-color: $primary-background-color;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -3rem;
    padding: 2rem 1.25rem;

    &__header
    {
        justify-content: space-between;
        align-items: center;
        box-shadow: none;

        &__restaurant-name
        {
            font-size: clamp(22.5px, 7vw, 30px);
            font-family: $secondary-font-family;
        }

        &__heart-icon-container
        {
            position: relative;
            display: flex;
            font-size: 1.55rem;
            cursor: pointer;
            fill: transparent;
            stroke-width: 20;
            
            @media only screen and (min-width: 335px)
            {
                margin-right: 0.75rem;
            }

            &__heart-icon
            {
                overflow: visible;
                stroke: $primary-font-color;
                width: 1.2rem;

                @media only screen and (min-width: 335px)
                {
                    width: clamp(1.35rem, 5.8vw, 1.8rem);
                }

                path
                {
                    stroke-dashoffset: 0;
                    stroke-dasharray: 1550;
                    transform-origin: center;
                }

                &--main
                {
                    &:hover
                    {
                        stroke: $primary-color;
                    }

                    &:hover > path
                    {
                        animation: stroke-animation 2s ease-in-out forwards;
                    }
                }
            }
        }
    }

    &__categories-section
    {
        &__category
        {
            flex: 1;
            &__heading
            {
                position: relative;
                font-size: clamp(17px, 3vw, 22px);
                font-weight: 100;
                margin-top: 2.5rem;
    
                &::after
                {
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    width: clamp(2.75rem, 7.765vw, 56.94px);
                    height: 0.25rem;
                    background-color: $tertiary-color;
                }
            }
    
            &__card-container
            {
                @include alignment(1rem, column, relative, flex-start, center);
                list-style: none;
                margin-top: 2rem;
    
                &__card
                {
                    display: flex;
                    width: 100%;
                    max-width: clamp(470px, 80vw, 100%);
                    background-color: #fff;
                    border-radius: 0.85rem;
                    box-shadow: 0 5px 15px 0 #dddddd;
                    overflow: hidden;
                    animation: 0.5s ease-in-out forwards fade-in;
                    opacity: 0;
    
                    @for $i from 1 through 4
                    {
                        &:nth-child(#{$i})
                        {
                          animation-delay: $i * (1s / 5);
                        }
                    }
    
                    &__main-content
                    {
                        @include alignment(0.35rem, column, relative, flex-start, inherit);
                        width: 100%;
                        padding: 0.75rem;
                        transition: 0.3s;
    
                        &__name
                        {
                            font-size: clamp(17px, 3vw, 22px);
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            transition: 0.3s;
                            width: 82%;
                        }
        
                        &__info
                        {
                            display: flex;
                            justify-content: space-between;
                            font-size: clamp(15.2px, 2.682vw, 19.67px);
        
                            &__description
                            {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 82%;
                            }
        
                            &__price
                            {
                                margin-right: 0;
                                font-weight: 600;

                                @media only screen and (min-width: 300px)
                                {
                                    margin-right: 0.5rem;
                                }
                            }
                        }
                    }
    
                    &__tick-container
                    {
                        @include flex-center;
                        width: 0;
                        background-color: $tertiary-color;
                        transition: 0.3s;
                        transform: translateX(1rem);
                        
                        &__tick-icon
                        {
                            @include flex-center;
                            width: 1.75rem;
                            height: 1.75rem;
                            background-color: #fff;
                            color: $tertiary-color;
                            border-radius: 100%;
                            font-size: 110%;
                            transform: rotate(0);
                        }
                    }
    
                    &:hover > div:last-child
                    {
                        width: 4.5rem;
                        transform: translateX(0);
                    }
                    
                    &:hover > div:last-child > i
                    {
                        transform: rotate(360deg);
                        transition: 0.3s;
    
                    }
    
                    &:not(:hover) > div:last-child > i
                    {
                        transition: 0s;
                    }

                    &:hover > div
                    {
                        width: calc(100% - 4.5rem);
                    }

                    @include media(tablet)
                    {
                      max-width: none;
                    }
                }
            }
        }

        @include media(tablet)
        {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
          gap: 3rem;
          margin: 3rem 0;
        }

        @include media(desktop)
        {
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }

        @media only screen and (min-width: 1500px)
        {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    &__btn-container
    {
        @include flex-center;
        margin: 5.5rem;

        @include media(tablet)
        {
            margin: 7.5rem 3.5rem 5rem 3.5rem;
        }

        &__btn
        {
            @import './../../../components/buttons';
            padding: 0.95rem 4.75rem;
        }
    }
    @include media(tablet)
    {
      padding: 2rem 4rem;
      justify-content: space-between;
    }

    @include media(desktop)
    {
      padding: 3rem 4rem 2rem 4rem;
    }

}