.footer
{
  @include alignment(1.25rem, column);
  color: $secondary-font-color;
  background-color: $tertiary-background-color;
  padding: 1.5rem;

  a
  {
    color: $secondary-font-color;
  }

  &--homepage
  {
    visibility: hidden;
    animation: appear 1s linear forwards;
    animation-delay: 2s;
  }

  &__logo
  {
    font-size: clamp(20px, 4.5vw, 30px);
    font-family: $secondary-font-family;
    font-weight: 100;
  }

  &__list
  {
    @include alignment(clamp(0.6rem, 2vw, 1rem), column);
    font-size: clamp(16px, 3vw, 20px);
    list-style: none;

    &__item
    {
      @include alignment(0.5rem, row, relative, flex-start, center);
      cursor: pointer;

      &__icon
      {
        @include flex-center;
        font-size: clamp(12px, 2.25vw, 15px);
        width: 1rem;
      }
    }

    @media only screen and (min-width: 768px)
    {
      flex-direction: row;
      gap: 2rem;
    }  
  }

  @media only screen and (min-width: 768px)
  {
    align-items: center;
    padding: 3rem 1.5rem;
    gap: 3rem;

    &__logo
    {
      font-size: 35px;
    }
  }   

  @media only screen and (min-width: 1024px)
  {
    padding: 5rem 1.5rem;
  }  
}