header
{
  @include alignment(0, row, relative, center, center);
  z-index: 1;
  line-height: 1.75rem;
  box-shadow: 0 3px 4px 0 #cccccc;

  &.header--homepage
  {
    visibility: hidden;
    animation: appear 1s linear forwards;
    animation-delay: 2s;

    @include media(tablet)
    {
      padding: 0.25rem 2rem;
      justify-content: space-between;
    }
    @include media(desktop)
    {
      padding: 0.5rem 4rem;
    }
  }

  &.header--restaurant-page
  {
    box-shadow: none;
    
    a
    {
      @include alignment(0, row, absolute, center, center);
      left: 1.5rem;

      .header__arrow
      {
        font-size: clamp(1.25rem, 4.7vw, 1.5rem);
        font-weight: 600;
      }

      @include media(desktop)
      {
        left: 3rem;
      }
    }

    @include media(tablet)
    {
      padding: 0.25rem 2rem;
    }
    @include media(desktop)
    {
      padding: 0.5rem 4rem;
    }
  }

  .header__location
  {
    display: none;
    font-weight: 600;
    font-size: 1.15rem;

    &__icon
    {
      margin-right: 0.75rem;
    }
    
    @include media(tablet)
    {
      display: block;
    }
  }

}