.hero
{
  @include flex-center;
  flex-direction: column;
  gap: clamp(1rem, 8vw, 2rem);
  background-color: $primary-background-color;
  padding: 3rem 1.25rem;
  background-size: 130%;
  background-position: 50%;
  height: clamp(240px, 64.93vw, 500px);

  @media only screen and (min-width: 1024px)
  {
    &--homepage
    {
      height: calc(100vh - 90.88px);
    }
  }
  
  &__heading
  {
    font-size: clamp(22.5px, 6.05vw, 40px);

    @media only screen and (min-width: 768px)
    {
      font-size: 45px;
    }

    @media only screen and (min-width: 1024px)
    {
      font-size: 62px;
    }
  }

  &__sub-heading
  {
    font-size: clamp(1.1rem, 5.18vw, 1.8rem);
    text-align: center;
    max-width: 570px;

    @media only screen and (min-width: 768px)
    {
      font-size: 2rem;
    }

    @media only screen and (min-width: 1024px)
    {
      font-size: 2.547rem;
      max-width: 800px;
    }
  }
  &__btn
  {
    @import './../../../components/buttons';

    @media only screen and (min-width: 768px)
    {
      margin-top: 3rem;
      font-size: 1.5rem;
      padding: 1.25rem 2.1875rem;
      border-radius: 1.875rem;
    }

    @media only screen and (min-width: 1024px)
    {
      margin-top: clamp(3rem, 5vw, 8rem);
      font-size: 1.575rem;
      padding: 1.3122rem 2.295rem;
      border-radius: 1.6875rem;
    }

  }

  @media only screen and (min-width: 300px)
  {
    background-size: 100%;
    background-position: 0%;
  }

  @media only screen and (min-width: 1024px)
  {
    background-position: 0% 60%;
  }
}
