.instructions-section
{
  padding: 3rem 1.25rem;
  list-style: none;
  &__card-container
  {
    @include alignment(1.25rem, row, relative, center);
    flex-wrap: wrap;
    margin-top: 1.25rem;
    padding: 0.5rem;

    &__card
    {
      @include alignment(1.25rem, row);
      width: 100%;
      padding: 1.75rem 2.25rem;
      background-color: $primary-background-color;
      border-radius: 1.15rem;
      box-shadow: 0 3px 15px 0 #cccccc;
      cursor: pointer;

      &__circle
      {
        @include alignment(0, row, absolute, center, center);
        left: -0.6rem;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary-color;
        color: $secondary-font-color;
        font-size: 0.8rem;
        line-height: 0;
      }

      &__icon
      {
        @include flex-center;
        font-size: 1.3rem;
        color: #7c7c7c;
      }

      p
      {
        @include flex-center;
        font-weight: 600;
        font-size: clamp(1rem, 3.8vw, 1.25rem);

        @include media(desktop)
        {
          font-size: 1.4rem;
        }
      }

      &:last-child
      {
        background-color: lighten($color: $primary-color , $amount: 32.5);
        .instructions-section__card-container__card__icon
        {
          color: $primary-color;
        }
      }

      @include media(tablet)
      {
        max-width: 23rem;
      }

      @include media(desktop)
      {
        max-width: 25rem;
      }
    }

    @include media(tablet)
    {
      margin-top: 2rem;
    }

    @include media(desktop)
    {
      margin: 4rem 0 4rem 0;
      gap: clamp(2rem, 3vw, 5rem);
    }
  }

  @include media(tablet)
  {
    padding: 3rem 2rem;
    gap: 2rem;
  }

  @include media(desktop)
  {
    padding: 3rem 4rem;
  }
}