.restaurants-section
{
  padding: 3rem 1.25rem;
  background-color: $primary-background-color;
  &__cards-list
  {
    display: grid;
    justify-content: center;
    gap: 1.25rem;
    list-style: none;
    margin-top: 1.25rem;
    
    &__card-container
    {
      &__card
      {
        @include alignment(0, column, relative, flex-start, normal);
        height: 17.5rem;
        border-radius: 1rem;
        box-shadow: 0 3px 15px 0 #cccccc;
        img
        {
          flex: 7.5;
          min-height: 0;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }

        &__info
        {
          @include alignment(0.25rem, column, relative, center);
          flex: 2.5;
          padding: 0.75rem 1rem;

          &__name
          {
            width: 75%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @include media(desktop)
            {
              font-size: 1.4rem;
            }
          }

          &__location
          {
            font-size: clamp(17px, 6vw, 19px);

            @include media(desktop)
            {
              font-size: 1.33rem;
            }
          }

          &__heart-icon-container
          {
              position: absolute;
              right: clamp(0rem, 7vw, 1.5rem);
              font-size: 1.55rem;
              cursor: pointer;
              fill: transparent;
              stroke-width: 20;

              &__heart-icon
              {
                  overflow: visible;
                  stroke: $primary-font-color;
                  width: clamp(1.35rem, 5.8vw, 1.5rem);
                  
                  path
                  {
                      stroke-dashoffset: 0;
                      stroke-dasharray: 1550;
                      transform-origin: center;
                  }
  
                  &--main
                  {
                      &:hover
                      {
                          stroke: $primary-color;
                      }
  
                      &:hover > path
                      {
                          animation: stroke-animation 2s ease-in-out forwards;
                      }
                  }

                  @include media(desktop)
                  {
                    width: 1.65rem;
                  }
              }
          }

          @include media(desktop)
          {
            flex: 2;
            gap: 0.25rem;
          }
        }
        
        &__tag
        {
          position: absolute;
          line-height: 0;
          right: 0.75rem;
          top: 0.8rem;
          padding: 1rem 1.75rem;
          background-color: $tertiary-color;
          color: darken($color: $tertiary-color, $amount: 40);
          border-radius: 0.15rem;
          font-size: 0.95rem;
          font-weight: 600;
        }
        @include media(desktop)
        {
          height: 25rem;
        }
      }
    }

    @include media(tablet)
    {
      grid-template-columns: minmax(0, 40rem) minmax(0, 40rem);
      margin-top: 2rem;
    }

    @include media(desktop)
    {
      gap: clamp(2rem, 3.5vw, 5rem);
      margin: 4rem 0 4rem 0;
    }
  }

  @include media(tablet)
  {
    padding: 3rem 2rem;
  }

  @include media(desktop)
  {
    padding: 3rem 4rem;
  }
}