button
{
  border: none;
  outline: none;
  color: $secondary-font-color;
  background: linear-gradient($secondary-color, $primary-color);
  padding: 1rem 1.75rem;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2.5px 8.5px 2px #bbbbbb;
  font-size: clamp(1rem, 3.8vw, 1.35rem);

  @include media(desktop)
  {
    font-size: 1.5rem;
  }

  &:hover
  {
    background: linear-gradient(lighten($secondary-color, $amount: 5), lighten($primary-color, $amount: 5));
    box-shadow: 0 2.5px 8.5px 2px darken(#bbbbbb, $amount: 5);
  }
}