.location-bar
{
  @include flex-center;
  background-color: $secondary-background-color;
  padding: 1rem 0;
  font-weight: 600;
  &__inner
  {
    position: relative;
  
    &__icon
    {
      position: absolute;
      left: -25px;
    }
  }
}

.hero
{
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  background-color: $primary-background-color;
  padding: 3rem 1.25rem;
  &__sub-heading
  {
    font-size: 1.2rem;
    text-align: center;
  }
  &__btn
  {
    @include button;
  }
}

.instructions-section
{
  padding: 3rem 1.25rem;
  list-style: none;
  &__card-container
  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
    padding: 0.5rem;

    &__card
    {
      position: relative;
      display: flex;
      gap: 1.25rem;
      padding: 1.75rem 2.25rem;
      background-color: $primary-background-color;
      border-radius: 1.15rem;
      box-shadow: 0 3px 15px 0 #cccccc;
      cursor: pointer;

      &__circle
      {
        position: absolute;
        @include flex-center;
        left: -0.6rem;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary-color;
        color: $secondary-font-color;
        font-size: 0.8rem;
        line-height: 0;
      }

      &__icon
      {
        @include flex-center;
        font-size: 1.3rem;
        color: #7c7c7c;
      }

      p
      {
        @include flex-center;
        font-weight: 600;
      }

      &:last-child
      {
        background-color: lighten($color: $primary-color , $amount: 32.5);
        .instructions-section__card-container__card__icon
        {
          color: $primary-color;
        }
      }
    }
  }
}

.restaurants-section
{
  padding: 4rem 1.25rem;
  background-color: $primary-background-color;
  &__cards-list
  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style: none;
    margin-top: 1.25rem;
    
    &__card-container
    {
      &__card
      {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 17.5rem;
        border-radius: 1rem;
        box-shadow: 0 3px 15px 0 #cccccc;

        img
        {
          flex: 7.5;
          min-height: 0;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }

        &__info
        {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;
          padding: 0.75rem 1rem;

          &__location
          {
            font-size: 19px;
          }

          &__heart
          {
            position: absolute;
            right: 1.75rem;
            font-size: 1.75rem;
            cursor: pointer;

            &::after
            {
              content: "";
              width: 2rem;
              height: 2rem;
              background-color: $primary-color;
            }
          }
        }
        
        &__tag
        {
          position: absolute;
          line-height: 0;
          right: 0.75rem;
          top: 0.8rem;
          padding: 1rem 1.75rem;
          background-color: $tertiary-color;
          color: darken($color: $tertiary-color, $amount: 40);
          border-radius: 0.15rem;
          font-size: 0.95rem;
          font-weight: 600;
        }
      }
    }
  }
}