.location-bar
{
  @include flex-center;
  background-color: $secondary-background-color;
  padding: 1rem 0;
  font-weight: 600;
  &__inner
  {
    position: relative;
  
    &__icon
    {
      position: absolute;
      left: -25px;
    }
  }
}

.hero
{
  @include flex-center;
  flex-direction: column;
  gap: 2rem;
  background-color: $primary-background-color;
  padding: 3rem 1.25rem;
  &__sub-heading
  {
    font-size: 1.2rem;
    text-align: center;
  }
  &__btn
  {
    @include button;
  }
}

.instructions-section
{
  padding: 3rem 1.25rem;
  list-style: none;
  &__card-container
  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 1.25rem;
    padding: 0.5rem;

    &__card
    {
      position: relative;
      display: flex;
      gap: 1.25rem;
      padding: 1.75rem 2.25rem;
      background-color: $primary-background-color;
      border-radius: 1.15rem;
      box-shadow: 0 3px 15px 0 #cccccc;
      cursor: pointer;

      &__circle
      {
        position: absolute;
        @include flex-center;
        left: -0.6rem;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary-color;
        color: $secondary-font-color;
        font-size: 0.8rem;
        line-height: 0;
      }

      &__icon
      {
        @include flex-center;
        font-size: 1.3rem;
        color: #7c7c7c;
      }

      p
      {
        @include flex-center;
        font-weight: 600;
      }

      &:last-child
      {
        background-color: lighten($color: $primary-color , $amount: 32.5);
        .instructions-section__card-container__card__icon
        {
          color: $primary-color;
        }
      }
    }
  }
}

.restaurants-section
{
  padding: 4rem 1.25rem;
  background-color: $primary-background-color;
  &__cards-list
  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style: none;
    margin-top: 1.25rem;
    
    &__card-container
    {
      &__card
      {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 17.5rem;
        border-radius: 1rem;
        box-shadow: 0 3px 15px 0 #cccccc;

        img
        {
          flex: 7.5;
          min-height: 0;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }

        &__info
        {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;
          padding: 0.75rem 1rem;

          &__location
          {
            font-size: 19px;
          }

          &__heart-icon-container
          {
              position: absolute;
              right: 1.75rem;
              font-size: 1.55rem;
              cursor: pointer;
              fill: transparent;
              stroke-width: 20;

              &__heart-icon
              {
                  overflow: visible;
                  stroke: $primary-font-color;
                  width: 1.5rem;
                  
                  path
                  {
                      stroke-dashoffset: 0;
                      stroke-dasharray: 1550;
                      transform-origin: center;
                  }
  
                  &--bg
                  {
                      position: absolute;
                      z-index: -1;
                      left: 0;
                      right: 0;
                      stroke: none;
                  }
  
                  &--main
                  {
                      &:hover
                      {
                          stroke: $primary-color;
                      }
  
                      &:hover > path
                      {
                          animation: stroke-animation 2s ease-in-out forwards;
                      }
  
                      &:hover ~ .restaurants-section__cards-list__card-container__card__info__heart-icon-container__heart-icon--bg > path
                      {
                          animation: heart-fade 2s ease-in-out forwards;
                      }
                  }
              }
          }
        }
        
        &__tag
        {
          position: absolute;
          line-height: 0;
          right: 0.75rem;
          top: 0.8rem;
          padding: 1rem 1.75rem;
          background-color: $tertiary-color;
          color: darken($color: $tertiary-color, $amount: 40);
          border-radius: 0.15rem;
          font-size: 0.95rem;
          font-weight: 600;
        }
      }
    }
  }
}

@keyframes stroke-animation
{
  0%
  {
      stroke-dashoffset: 0;
  }
  30%
  {
      stroke-dashoffset: 1550;
  }
  60%
  {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
  }
  80%
  {
      fill: $primary-color;
      transform: scale(1.1);
  }
  90%
  {
      transform: scale(1);
  }
  100%
  {
      stroke-dashoffset: 3100;
      fill: $primary-color;
  }
}

@keyframes heart-fade
{
  70%
  {
      fill: transparent;
      transform: scale(1);
  }
  80%
  {
      fill: lighten($primary-color, 10);
      transform: scale(1.1);
      opacity: 1;
  }
  90%
  {
      opacity: 1;
  }
  100%
  {
      transform: scale(2.5);
      opacity: 0;
  }
}