$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Shrikhand', cursive;

$primary-font-color: #000000;
$secondary-font-color: #ffffff;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$primary-background-color: #F2F2F2;
$secondary-background-color: #e4e4e4;
$tertiary-background-color: #363636;

$h1-font-size: clamp(30px, 8vw, 35px);
$h2-font-size: clamp(22.5px, 7vw, 27.5px);
$h3-font-size: clamp(18px, 5vw, 20px);